.enter {
    position: absolute;
    opacity: 0.01;
    top: 90%;
    overflow: hidden;
}

.enter-active {
    position: absolute;
    opacity: 1;
    top: 0%;
    transition: all 700ms ease-in;
}

.exit {
    opacity: 1;
}

.exit-active {
    opacity: 0.01;
    transition: all 700ms ease-in;
}