.pageSlider-enter {
    position: absolute;
    opacity: 0.01;
    top: 100%;
}

.pageSlider-enter-active {
    position: absolute;
    opacity: 1;
    top: 0%;
    transition: all 1000ms ease-in;
    transform: translateY(1000px);
}

.pageSlider-exit {
    position: absolute;
    opacity: 1;
    top: 0%;
}

.pageSlider-exit-active {
    position: absolute;
    opacity: 0;
    top: 100%;
    transition: opacity 1000ms, transform 1000ms;
}